body {
    background-color: rgba(1, 5, 0, 0.1);
}
h1 {
    color: white; font-size:1.2em; font-weight:200; line-height:1.5em; padding:0.5em 0;
    text-align: center;
    width: 300px;
    background-color:rgba(255, 0, 0, 0.7);
    padding: 10px;
    margin: auto;
}
#wrapper{
    width: 80%;
    height: 80%;
    background-color: #84c9fd;
    margin: auto;
      
}
#rightcolumn {
    width: 300px;
    height: 1100px;
    background-color:rgba(255, 90, 0, 0.4);
    position: relative;
    float: right;
    left: 110px;
    top: 80px;
    }
#imageBoard {
    
}
img {
    width: 300px;
    border: 3px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    
}

