@media only screen and (max-width: 480px) {
   
body {
    background-color: rgba(36, 79, 121, 0.4);
}
}
#wrapper {
    width: 1200px;
    height: 100%;
    margin: auto;
    background-color:rgba(36, 79, 121, 0.4);
}
header {
    width: 600px;
    margin-left: 200px;
    padding: 35px; 
}
h1 {
    font-size: 1.9em;
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}
p {  
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: 'Merriweather', serif;
    color: white;
}
#left_column {
    float: left;
    height: 750px;
    width:200px;
    background-color:rgba(44, 84, 123, 0.71);
}
#right_column {
    width:1000px;
    height: 400px;
    margin-left: 200px;
    background-color: rgba(36, 79, 121, 0.4);      
}
#mid_column { 
position: relative;
width:1200px;
height: 200px;
background-color: rgba(44, 84, 123, 0.71);           
}
ul, a {
    font-size: 1.7em;
    line-height: 2em;
    font-family: 'Merriweather', serif;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;   
}
nav {
    width: 400px;
    margin-left: 50px;    
}
.grow {
            width:350px;
            height:100px;
            margin-top: 20px;
            margin-left: 420px;
            background-color:rgba(44, 84, 123, 1);
            transition:all 0.3s ease;
            box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.grow:hover {
-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
footer {
    width: auto;
	text-align: center;
}
.footEnd {
    text-align: center;
    padding: 25px;
    margin: 5px;
    color: white;
    font-size: 1em;   
}
.footMail {
    
    color: white;
    font-size: 1em;
}
.socialmedia {
    float: left;
    margin-left: 450px;
    margin-top: 110px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  box-shadow: 6px 6px 5px 0px rgba(50, 50, 50, 0.75);    
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-flickr {
  background: #f40083;
  color: white;
}

